@page "/Route/edit/{TransferRouteId:int}"
@inject IRouteService RouteService
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Edit TransferRoute</h3>

@if (Route != null)
{
<RouteForm Route="Route" OnValidSubmit="Edit" />
}

@code { [Parameter] public int TransferRouteId { get; set; }

    TransferRoute Route;

    protected async override Task OnInitializedAsync()
    {
        Route = await RouteService.GetRouteById(TransferRouteId);
    }

    private async Task Edit()
    {
        await RouteService.UpdateRoute(Route);
        navigationManager.NavigateTo("Route");
    } }
