@page "/FixedAsset/edit/{FixedAssetId:int}"
@inject IFixedAssetService FixedAssetService
@inject NavigationManager navigationManager
@attribute [Authorize]

<h3>Edit FixedAsset</h3>

@if (FixedAsset != null)
{
<FixedAssetForm FixedAsset="FixedAsset" OnValidSubmit="Edit" />
}

@code { [Parameter] public int FixedAssetId { get; set; }

            FixedAsset FixedAsset;

            protected async override Task OnInitializedAsync()
            {
                FixedAsset = await FixedAssetService.GetFixedAssetById(FixedAssetId);
            }

            private async Task Edit()
            {
                await FixedAssetService.UpdateFixedAsset(FixedAsset);
                navigationManager.NavigateTo("FixedAsset");
            } }
